<%- include ../header %>
<div class="container">
	<%- include _search %>
	<%- include _sidebar %>
			<div class="main">
				<div class="main-header">
					<div class="filter">
						<a href="/center/my-comments"><span>我评论的</span></a>
						<a href="/center/comments-to-me"><span>评论我的</span></a>
					</div>
					<div class="search">
						<form action="/like/search">
							<span>搜索：</span>
							<input type="text" name="key" />
							<input type="submit" value="搜索" />
						</form>
					</div>
					<h2><% if(commentType == 'myComments'){ %>我评论的<% }else{ %>评论我的<% } %></h2>
				</div>
				<ul class="comment-list clearfix">
					<% 
						comments.forEach(function(comment){ 
							if(commentType == 'myComments'){
					%>
					<li><!-- 我评论的 -->
						<div class="comment-action">
							<a href="/center/my-comment/<%= comment.id %>" class="comment-detail">详细</a>
							<a href="javascript:void(0);" class="disable-my-comment" comment-id="<%= comment.id %>">取消</a>
						</div>
						<a href="/<%= comment.userId %>"><img class="author-picture" src="/images/picture.jpg" alt=""></a>
						<p>
							我评论了 <a href="/<%= comment.authorId %>"><%= comment.author.nickname %></a> 的：
							<a href="/<%= comment.authorId %>/post/<%= comment.postId %>"><%= comment.title %></a>  
						</p>
						<p><span><%= comment.commentDate %></span> <span>x<%= comment.score %></span></p>
					</li>
					<%
								}else{
					%>
					<li><!-- 评论我的 -->
						<div class="comment-action">
							<a href="/center/comment-to-me/<%= comment.id %>" class="comment-detail">详细</a>
							<a href="javascript:void(0);" class="disable-comment-to-me" comment-id="<%= comment.id %>">取消</a>
						</div>
						<a href="/<%= comment.userId %>"><img class="author-picture" src="/images/picture.jpg" alt=""></a>
						<p>
							<a href="/<%= comment.userId %>"><%= comment.user.nickname %></a>
								评论了我的：
							<a href="/<%= comment.authorId %>/post/<%= comment.postId %>"><%= comment.post.title %></a> 
						</p>
						<p><span><%= comment.commentDate %></span> <span>x<%= comment.score %></span></p>
					</li>
					<%
							}
						});
					%>					
				</ul>
				<div class="paginate-container">
					<div class="pagination">
					<span class="previous_page disabled">Previous</span> 
					<em class="current">1</em> 
					<a rel="next" href="">2</a> 
					<a href="">3</a> 
					<a href="">4</a> 
					<a href="">5</a> 
					<span class="gap">…</span> 
					<a href="">99</a> 
					<a href="">100</a> 
					<a class="next_page" rel="next" href="">Next</a>
					</div>
				</div>
			</div>
		</div>
<%- include ../footer %>