<%- include ../header %>
<div class="container">
	<%- include _search %>
	<%- include _sidebar %>
			<div class="main">
				<div class="main-header">
					<div class="filter">
						<a href="/center/followings"><span>我关注</span></a>
						<a href="/center/followers"><span>关注我</span></a>
					</div>
					<div class="search">
						<form action="/follow/search">
							<span>搜索：</span>
							<input type="text" name="key" />
							<input type="submit" value="搜索" />
						</form>
					</div>
					<h2><% if(followType=='follower'){ %>关注我的人<% } else if(followType=='following'){ %>我关注的人<% } %></h2>
				</div>
				<ul class="search-user-list clearfix">
					<% follows.forEach(function(follow){ %>
					<li>
						<a href="/<% follow.user.id %>"><img class="author-picture" src="/images/picture.jpg" alt=""></a>
						<a href=""><%= follow.user.nickname %></a>
						<div class="follow">
							<% if(follow.hasFollowed){ %>
							<a href="javascript:void(0);" class="cancel-following" user-id="<%= follow.user.id %>">取消关注</a>
							<% }else{ %>
							<a href="javascript:void(0);" class="to-following" user-id="<%= follow.user.id %>">关注</a>
							<% } %>
						</div>
					</li>
					<% }); %>
				</ul>
				<div class="paginate-container">
					<div class="pagination">
					<span class="previous_page disabled">Previous</span> 
					<em class="current">1</em> 
					<a rel="next" href="">2</a> 
					<a href="">3</a> 
					<a href="">4</a> 
					<a href="">5</a> 
					<span class="gap">…</span> 
					<a href="">99</a> 
					<a href="">100</a> 
					<a class="next_page" rel="next" href="">Next</a>
					</div>
				</div>
				<!--
				<div class="follows">
					<div class="item">
						<div class="avatar">
							<a href=""><img src="" alt=""></a>
						</div>
						<span>Tom</span>
						<a href="javascript:void(0);" follow-id="" class="cancel-following">取消关注</a>
					</div>
					<div class="item">
						<div class="avatar">
							<a href=""><img src="" alt=""></a>
						</div>
						<span>Jack</span>
						<a href="javascript:void(0);" follow-id="" class="cancel-following">关注</a>
					</div>
				</div>
				-->
			</div>
		</div>
<%- include ../footer %>