<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= title %></title>
		<%- preCss %>
		<%- preJs %>
	</head>
	<body>
		<div id="wrapper">
			<div class="header">
				<a class="logo" href="www.shangxiahui.com"><img src="/images/logo.jpg" alt=""></a>
				<div class="actions">
					<% if(typeof user !== 'undefined'){ %>
					<a href="/center">
						<img src="<%- user.picture %>" alt="">
						<span><%= user.nickname %></span>
					</a>
					<a href="/center/profile-basic"><span>设置</span></a>
					<a href="/logout"><span>退出</span></a>
					<% } else { %>
					<a href="/login"><span>登录</span></a>|<a href="/register"><span>注册</span></a>
					<% } %>
				</div>
			</div>